.post-header-container {
  display: flex;
  padding: 10px;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .data-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    span {
      color: #c3c3c3;
      margin-top: 3px;
    }
  }
}
